        @import url('https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans&display=swap');
        * {
            max-width: 100%;
            font-family: 'Josefin Sans', sans-serif;
        }
        /* CSS para estructura general para todas las páginas */
        /* Container es el nombre del contenedor padre que tiene toda la página */
        
        .contenedor_principal {
            width: 100%;
            height: 100vh;
            display: grid;
            grid-template-rows: 1fr 8fr 1fr;
            grid-template-columns: 1fr 4fr 1fr;
            gap: 10px;
        }
        
        .encabezado {
            width: 100%;
            height: 70px;
            background: rgb(175, 232, 255);
            grid-column: 1/4;
            grid-row: 1/2;
            display: flex;
            justify-content: space-between;
            font-size: small;
            animation: pulse 5s;
        }
        
        @keyframes pulse {
            0% {
                background-color: #ffffff;
            }
            100% {
                background-color: rgb(175, 232, 255);
            }
        }
        /* media query cap @ 420px celular*/
        
        @media screen and (max-width:700px) {
            .encabezado {
                display: flex;
                flex-direction: column;
            }
            .contenedor_logo {
                display: flex;
                flex-direction: column;
            }
        }
        
        .contenedor_logo {
            display: flex;
            flex-direction: row;
            align-items: flex-end
        }
        
        @media screen and (max-width:420px) {
            .contenedor_logo {
                display: flex;
                flex-direction: column;
                flex-shrink: inherit;
            }
        }
        
        .logo {
            width: 150px;
            height: 50px;
            display: flex;
            margin-left: 10px;
        }
        
        .titulo {
            display: flex;
            flex-direction: row;
            margin: 2px
        }
        
        .contenedor_links {
            display: flex;
            flex-direction: row;
            padding: 2px;
            margin-right: 10px;
        }
        
        .links {
            display: flex;
            gap: 10px;
            list-style: none;
            align-items: center;
        }
        
        .pie {
            display: flex;
            grid-column: 1/4;
            grid-row: 3/4;
            background: rgb(175, 232, 255);
            flex-direction: row-reverse;
            align-items: flex-end;
            padding: 10px;
        }
        /* CSS index */
        
        .index__contenido {
            width: 100%;
            display: grid;
            grid-column: 1/4;
            grid-row: 2/4;
            grid-template-columns: 1fr 2fr 1fr;
        }
        
        @media screen and (max-width:700px) {
            .index__contenido {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        @media screen and (max-width:420px) {
            .index__contenido {
                grid-template-columns: 1fr;
            }
        }
        
        .seccion_izquierda {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            justify-content: right;
        }
        
        .mision {
            display: flex;
            justify-content: center;
        }
        
        .somos {
            display: flex;
            justify-content: right;
        }
        
        .seccion_principal {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            align-items: center;
        }
        
        .epp {
            width: 600px;
        }
        
        .epp:hover {
            transition: 1s;
            transform: scale(.75);
        }
        /* .imgrotate {
    transition: transform 1s;
}

.imgrotate:hover {
    transform: rotate(1080deg);
} */
        
        .seccion_derecha {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            gap: 10px;
        }
        
        .listaservicios {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        /* CSS para página de Servicios */
        
        .galeriaservicio {
            grid-column: 2/3;
            grid-row: 2-3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
        }
        
        .servicio {
            height: 200px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;
            -webkit-text-stroke: 1px white;
            -webkit-text-fill-color: transparent;
        }
        
        .lateral_servicios {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            align-items: center;
            justify-content: center;
        }
        /* CSS Galeria */
        
        .galeria {
            padding: 10px;
            grid-column: 1/4;
            grid-row: 2/3;
            display: grid;
            grid-template-rows: .3fr .4fr .4fr;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
        }
        
        .galeriatitle {
            grid-column: 1/6;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .fotografiaprincipal {
            grid-row: 2/4;
            grid-column: 1/3;
            display: flex;
            object-fit: contain;
            width: 400px;
            height: 400px;
        }
        
        .fotobase {
            display: flex;
            object-fit: contain;
            width: 200px;
            width: 200px;
        }
        
        .fotoseccion {
            grid-row: 2/4;
            grid-column: 5/6;
        }
        /* CSS Formulario */
        
        .formulario {
            grid-row: 2/3;
            grid-column: 2/3;
            margin: 10px;
            padding: 10px;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        /* CSS for HSE 4.0 */
        
        .hse40 {
            grid-row: 2/3;
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: space-evenly;
        }
        
        @media screen and (min-width:700px) {
            .hse40 {
                display: grid;
                grid-template-columns: 1fr 1fr 3fr;
            }
        }
        
        .videoyoutube {
            display: flex;
        }
        
        .videoyoutube:hover {
            transition: 1s;
            transform: scale(1.6);
        }
        /* CSS Quienes Somos */
        /* Nuevo grid para reestructurar sección central */
        
        .grid_somos {
            grid-row: 2/3;
            grid-column: 1/4;
            padding: 10px;
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: .5fr 3fr;
        }
        
        .somos_descripcion {
            grid-row: 1/1;
            grid-column: 1/4;
        }